.popup {
  min-width: 460px;
  min-height: 340px;
  padding: 0px;
  border-color: transparent;
  background-color: transparent;
  display: flex;
  flex-direction: column;
}

.popup__container {
  max-width: 430px;
  min-height: 330px;
  padding: 0px;
  border-radius: 15px;
  background-color: #fff;
  border-color: #fff;
}

.popup__container-type-confirm {
  min-height: 181px;
  max-width: 430px;
  padding: 0px;
  border-radius: 15px;
  background-color: #fff;
  border-color: #fff;
}

.popup__container-type-change-profile {
  min-height: 181px;
  max-width: 430px;
  padding: 0px;
  border-radius: 15px;
  background-color: #fff;
  border-color: #fff;
}

.popup__fieldset-type-confirm {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 36px;
  padding: 0px;
  margin: 36px 34px 34px 30px;
}

.popup__fieldset-type-change-profile {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 36px;
  padding: 0px;
  margin: 36px 34px 34px 30px;
}

.popup__title-confirm {
  font-size: 20px;
  line-height: 15px;
  font-weight: 900;
}

.popup__title {
  font-size: 24px;
  line-height: 15px;
  font-weight: 900;
}

.popup__btn_type_close {
  align-self: flex-end;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.popup__btn_type_close:hover {
  opacity: 40%;
}

.popup__img-close {
  max-width: 40px;
  max-height: 40px;
}

.popup__form {
  margin: 34px auto 36px auto;
  max-width: 358px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.popup-image {
  background-color: transparent;
  border-color: transparent;
  display: flex;
  flex-direction: column;
  padding: 0px;
}

.popup__image-contener {
  width: 100%;
  height: 100%;
}

.popup__img {
  width: 75vw;
  height: 75vh;
}

.popup__title-image {
  font-size: 12px;
  line-height: 15px;
  color: #ffffff;
  margin-top: 10px;
}

.popup__btn {
  padding: 0px;
  width: auto;
  min-height: 50px;
  margin-top: 19px;
}

.popup__btn-type-confirm {
  border: 1px solid black;
  background-color: black;
  color: #fff;
  cursor: pointer;
  margin-top: 0px;
}

@media screen and (max-width: 500px) {
  .popup {
    min-width: 282px;
    min-height: 322px;
  }

  .popup__btn_type_close {
    max-width: 28px;
    max-height: 28px;
  }

  .popup__form {
    margin: 25px auto 26px auto;
    max-width: 232px;
  }

  .popup__img {
    max-width: 240px;
    height: 290px;
  }

  .popup__img-close {
    max-width: 26px;
    max-height: 26px;
  }
}
